/* Sets the base styles for the entire webpage */
body {
    font-family: 'Raleway', sans-serif; 
    margin: 0; 
    padding: 0; 
    background-color: #eeeff0; 
}

/* Styles the main content area */
.main {
    padding: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

/* Styles the section that contains professional experience */
.experience-section {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

#content1, #content2 {
    display: none;
}

/* Styles the container for each job experience */
.experience-container {
    display: flex; 
    max-width: 800px;
    justify-content: center; 
    margin-bottom: 40px; 
}

/* Styles each job article */
.job {
    background-color: rgb(255, 255, 255); 
    border: 1px solid #00000043; 
    padding: 30px; 
    margin-right: 20px; 
    box-shadow: 0 4px 8px rgba(7, 5, 104, 0.2); 
    border-radius: 4px; 
}


/* Styles the job title */
.job h2 {
    color: #0f0935; 
    font-weight: bold; 
}

.job em{
    font-weight:lighter;
    font-size:medium;
    color: #7d5c5c99;
}

/* Styles the company name and years */
.job h3 {
    color: #7d5c5c; 
    font-weight: normal; 
    font-style: italic; 
}

/* Styles the container for the job image */
.job-image {
    padding: 10px; 
    min-width: 400px;
    max-width: 400px;
}

/* Styles the job images */
.job-image img {
    max-height: 200px; 
    max-width: 300px; 
    border-radius: 4px; 
}
